:root {
    --ln-source: #18a0fb;
    /* primary */
    --ln-ref-palette-primary0: #000000;
    --ln-ref-palette-primary10: #001d34;
    --ln-ref-palette-primary20: #003355;
    --ln-ref-palette-primary25: #003e67;
    --ln-ref-palette-primary30: #004a79;
    --ln-ref-palette-primary35: #00568b;
    --ln-ref-palette-primary40: #00629e;
    --ln-ref-palette-primary50: #007cc6;
    --ln-ref-palette-primary60: #0096ef;
    --ln-ref-palette-primary70: #59b1ff;
    --ln-ref-palette-primary80: #9acbff;
    --ln-ref-palette-primary90: #cfe5ff;
    --ln-ref-palette-primary95: #e9f1ff;
    --ln-ref-palette-primary98: #f8f9ff;
    --ln-ref-palette-primary99: #fcfcff;
    --ln-ref-palette-primary100: #ffffff;
    /* secondary */
    --ln-ref-palette-secondary0: #000000;
    --ln-ref-palette-secondary10: #00210d;
    --ln-ref-palette-secondary20: #00391a;
    --ln-ref-palette-secondary25: #004521;
    --ln-ref-palette-secondary30: #005229;
    --ln-ref-palette-secondary35: #006030;
    --ln-ref-palette-secondary40: #006d38;
    --ln-ref-palette-secondary50: #008948;
    --ln-ref-palette-secondary60: #00a659;
    --ln-ref-palette-secondary70: #25c36d;
    --ln-ref-palette-secondary80: #4de086;
    --ln-ref-palette-secondary90: #6dfda0;
    --ln-ref-palette-secondary95: #c3ffce;
    --ln-ref-palette-secondary98: #eaffea;
    --ln-ref-palette-secondary99: #f5fff3;
    --ln-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --ln-ref-palette-tertiary0: #000000;
    --ln-ref-palette-tertiary10: #231b00;
    --ln-ref-palette-tertiary20: #3c2f00;
    --ln-ref-palette-tertiary25: #493a00;
    --ln-ref-palette-tertiary30: #564500;
    --ln-ref-palette-tertiary35: #645000;
    --ln-ref-palette-tertiary40: #725c00;
    --ln-ref-palette-tertiary50: #907400;
    --ln-ref-palette-tertiary60: #ad8d10;
    --ln-ref-palette-tertiary70: #caa82f;
    --ln-ref-palette-tertiary80: #e8c349;
    --ln-ref-palette-tertiary90: #ffe083;
    --ln-ref-palette-tertiary95: #fff0ca;
    --ln-ref-palette-tertiary98: #fff8f0;
    --ln-ref-palette-tertiary99: #fffbff;
    --ln-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --ln-ref-palette-neutral0: #000000;
    --ln-ref-palette-neutral10: #1a1c1e;
    --ln-ref-palette-neutral20: #2f3033;
    --ln-ref-palette-neutral25: #3a3b3e;
    --ln-ref-palette-neutral30: #45474a;
    --ln-ref-palette-neutral35: #515255;
    --ln-ref-palette-neutral40: #5d5e61;
    --ln-ref-palette-neutral50: #76777a;
    --ln-ref-palette-neutral60: #909094;
    --ln-ref-palette-neutral70: #aaabae;
    --ln-ref-palette-neutral80: #c6c6ca;
    --ln-ref-palette-neutral90: #e2e2e5;
    --ln-ref-palette-neutral95: #f1f0f4;
    --ln-ref-palette-neutral98: #f9f9fc;
    --ln-ref-palette-neutral99: #fcfcff;
    --ln-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --ln-ref-palette-neutral-variant0: #000000;
    --ln-ref-palette-neutral-variant10: #171c22;
    --ln-ref-palette-neutral-variant20: #2c3137;
    --ln-ref-palette-neutral-variant25: #373c42;
    --ln-ref-palette-neutral-variant30: #42474e;
    --ln-ref-palette-neutral-variant35: #4e535a;
    --ln-ref-palette-neutral-variant40: #5a5f66;
    --ln-ref-palette-neutral-variant50: #73777f;
    --ln-ref-palette-neutral-variant60: #8c9199;
    --ln-ref-palette-neutral-variant70: #a7abb3;
    --ln-ref-palette-neutral-variant80: #c2c7cf;
    --ln-ref-palette-neutral-variant90: #dee3eb;
    --ln-ref-palette-neutral-variant95: #edf1f9;
    --ln-ref-palette-neutral-variant98: #f8f9ff;
    --ln-ref-palette-neutral-variant99: #fcfcff;
    --ln-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --ln-ref-palette-error0: #000000;
    --ln-ref-palette-error10: #410002;
    --ln-ref-palette-error20: #690005;
    --ln-ref-palette-error25: #7e0007;
    --ln-ref-palette-error30: #93000a;
    --ln-ref-palette-error35: #a80710;
    --ln-ref-palette-error40: #ba1a1a;
    --ln-ref-palette-error50: #de3730;
    --ln-ref-palette-error60: #ff5449;
    --ln-ref-palette-error70: #ff897d;
    --ln-ref-palette-error80: #ffb4ab;
    --ln-ref-palette-error90: #ffdad6;
    --ln-ref-palette-error95: #ffedea;
    --ln-ref-palette-error98: #fff8f7;
    --ln-ref-palette-error99: #fffbff;
    --ln-ref-palette-error100: #ffffff;
    /* light */
    --ln-app-color-primary: #00629e;
    --ln-app-color-on-primary: #ffffff;
    --ln-app-color-primary-container: #cfe5ff;
    --ln-app-color-on-primary-container: #001d34;
    --ln-app-color-secondary: #006d38;
    --ln-app-color-on-secondary: #ffffff;
    --ln-app-color-secondary-container: #6dfda0;
    --ln-app-color-on-secondary-container: #00210d;
    --ln-app-color-tertiary: #725c00;
    --ln-app-color-on-tertiary: #ffffff;
    --ln-app-color-tertiary-container: #ffe083;
    --ln-app-color-on-tertiary-container: #231b00;
    --ln-app-color-error: #ba1a1a;
    --ln-app-color-error-container: #ffdad6;
    --ln-app-color-on-error: #ffffff;
    --ln-app-color-on-error-container: #410002;
    --ln-app-color-background: #fcfcff;
    --ln-app-color-on-background: #1a1c1e;
    --ln-app-color-surface: #fcfcff;
    --ln-app-color-on-surface: #1a1c1e;
    --ln-app-color-surface-variant: #dee3eb;
    --ln-app-color-on-surface-variant: #42474e;
    --ln-app-color-outline: #73777f;
    --ln-app-color-inverse-on-surface: #f1f0f4;
    --ln-app-color-inverse-surface: #2f3033;
    --ln-app-color-inverse-primary: #9acbff;
    --ln-app-color-shadow: #000000;
    --ln-app-color-surface-tint: #00629e;
    --ln-app-color-outline-variant: #c2c7cf;
    --ln-app-color-scrim: #000000;
    /* dark */
    --ln-app-color-primary-dark: #9acbff;
    --ln-app-color-on-primary-dark: #003355;
    --ln-app-color-primary-container-dark: #004a79;
    --ln-app-color-on-primary-container-dark: #cfe5ff;
    --ln-app-color-secondary-dark: #4de086;
    --ln-app-color-on-secondary-dark: #00391a;
    --ln-app-color-secondary-container-dark: #005229;
    --ln-app-color-on-secondary-container-dark: #6dfda0;
    --ln-app-color-tertiary-dark: #e8c349;
    --ln-app-color-on-tertiary-dark: #3c2f00;
    --ln-app-color-tertiary-container-dark: #564500;
    --ln-app-color-on-tertiary-container-dark: #ffe083;
    --ln-app-color-error-dark: #ffb4ab;
    --ln-app-color-error-container-dark: #93000a;
    --ln-app-color-on-error-dark: #690005;
    --ln-app-color-on-error-container-dark: #ffdad6;
    --ln-app-color-background-dark: #1a1c1e;
    --ln-app-color-on-background-dark: #e2e2e5;
    --ln-app-color-surface-dark: #1a1c1e;
    --ln-app-color-on-surface-dark: #e2e2e5;
    --ln-app-color-surface-variant-dark: #42474e;
    --ln-app-color-on-surface-variant-dark: #c2c7cf;
    --ln-app-color-outline-dark: #8c9199;
    --ln-app-color-inverse-on-surface-dark: #1a1c1e;
    --ln-app-color-inverse-surface-dark: #e2e2e5;
    --ln-app-color-inverse-primary-dark: #00629e;
    --ln-app-color-shadow-dark: #000000;
    --ln-app-color-surface-tint-dark: #9acbff;
    --ln-app-color-outline-variant-dark: #42474e;
    --ln-app-color-scrim-dark: #000000;
    /*!* display - large *!*/
    /*--ln-app-typescale-display-large-font-family-name: Roboto;*/
    /*--ln-app-typescale-display-large-font-family-style: Regular;*/
    /*--ln-app-typescale-display-large-font-weight: 400px;*/
    /*--ln-app-typescale-display-large-font-size: 57px;*/
    /*--ln-app-typescale-display-large-line-height: 64px;*/
    /*--ln-app-typescale-display-large-letter-spacing: -0.25px;*/
    /*!* display - medium *!*/
    /*--ln-app-typescale-display-medium-font-family-name: Roboto;*/
    /*--ln-app-typescale-display-medium-font-family-style: Regular;*/
    /*--ln-app-typescale-display-medium-font-weight: 400px;*/
    /*--ln-app-typescale-display-medium-font-size: 45px;*/
    /*--ln-app-typescale-display-medium-line-height: 52px;*/
    /*--ln-app-typescale-display-medium-letter-spacing: 0px;*/
    /*!* display - small *!*/
    /*--ln-app-typescale-display-small-font-family-name: Roboto;*/
    /*--ln-app-typescale-display-small-font-family-style: Regular;*/
    /*--ln-app-typescale-display-small-font-weight: 400px;*/
    /*--ln-app-typescale-display-small-font-size: 36px;*/
    /*--ln-app-typescale-display-small-line-height: 44px;*/
    /*--ln-app-typescale-display-small-letter-spacing: 0px;*/
    /*!* headline - large *!*/
    /*--ln-app-typescale-headline-large-font-family-name: Roboto;*/
    /*--ln-app-typescale-headline-large-font-family-style: Regular;*/
    /*--ln-app-typescale-headline-large-font-weight: 400px;*/
    /*--ln-app-typescale-headline-large-font-size: 32px;*/
    /*--ln-app-typescale-headline-large-line-height: 40px;*/
    /*--ln-app-typescale-headline-large-letter-spacing: 0px;*/
    /*!* headline - medium *!*/
    /*--ln-app-typescale-headline-medium-font-family-name: Roboto;*/
    /*--ln-app-typescale-headline-medium-font-family-style: Regular;*/
    /*--ln-app-typescale-headline-medium-font-weight: 400px;*/
    /*--ln-app-typescale-headline-medium-font-size: 28px;*/
    /*--ln-app-typescale-headline-medium-line-height: 36px;*/
    /*--ln-app-typescale-headline-medium-letter-spacing: 0px;*/
    /*!* headline - small *!*/
    /*--ln-app-typescale-headline-small-font-family-name: Roboto;*/
    /*--ln-app-typescale-headline-small-font-family-style: Regular;*/
    /*--ln-app-typescale-headline-small-font-weight: 400px;*/
    /*--ln-app-typescale-headline-small-font-size: 24px;*/
    /*--ln-app-typescale-headline-small-line-height: 32px;*/
    /*--ln-app-typescale-headline-small-letter-spacing: 0px;*/
    /*!* body - large *!*/
    /*--ln-app-typescale-body-large-font-family-name: Roboto;*/
    /*--ln-app-typescale-body-large-font-family-style: Regular;*/
    /*--ln-app-typescale-body-large-font-weight: 400px;*/
    /*--ln-app-typescale-body-large-font-size: 16px;*/
    /*--ln-app-typescale-body-large-line-height: 24px;*/
    /*--ln-app-typescale-body-large-letter-spacing: 0.50px;*/
    /*!* body - medium *!*/
    /*--ln-app-typescale-body-medium-font-family-name: Roboto;*/
    /*--ln-app-typescale-body-medium-font-family-style: Regular;*/
    /*--ln-app-typescale-body-medium-font-weight: 400px;*/
    /*--ln-app-typescale-body-medium-font-size: 14px;*/
    /*--ln-app-typescale-body-medium-line-height: 20px;*/
    /*--ln-app-typescale-body-medium-letter-spacing: 0.25px;*/
    /*!* body - small *!*/
    /*--ln-app-typescale-body-small-font-family-name: Roboto;*/
    /*--ln-app-typescale-body-small-font-family-style: Regular;*/
    /*--ln-app-typescale-body-small-font-weight: 400px;*/
    /*--ln-app-typescale-body-small-font-size: 12px;*/
    /*--ln-app-typescale-body-small-line-height: 16px;*/
    /*--ln-app-typescale-body-small-letter-spacing: 0.40px;*/
    /*!* label - large *!*/
    /*--ln-app-typescale-label-large-font-family-name: Roboto;*/
    /*--ln-app-typescale-label-large-font-family-style: Medium;*/
    /*--ln-app-typescale-label-large-font-weight: 500px;*/
    /*--ln-app-typescale-label-large-font-size: 14px;*/
    /*--ln-app-typescale-label-large-line-height: 20px;*/
    /*--ln-app-typescale-label-large-letter-spacing: 0.10px;*/
    /*!* label - medium *!*/
    /*--ln-app-typescale-label-medium-font-family-name: Roboto;*/
    /*--ln-app-typescale-label-medium-font-family-style: Medium;*/
    /*--ln-app-typescale-label-medium-font-weight: 500px;*/
    /*--ln-app-typescale-label-medium-font-size: 12px;*/
    /*--ln-app-typescale-label-medium-line-height: 16px;*/
    /*--ln-app-typescale-label-medium-letter-spacing: 0.50px;*/
    /*!* label - small *!*/
    /*--ln-app-typescale-label-small-font-family-name: Roboto;*/
    /*--ln-app-typescale-label-small-font-family-style: Medium;*/
    /*--ln-app-typescale-label-small-font-weight: 500px;*/
    /*--ln-app-typescale-label-small-font-size: 11px;*/
    /*--ln-app-typescale-label-small-line-height: 16px;*/
    /*--ln-app-typescale-label-small-letter-spacing: 0.50px;*/
    /*!* title - large *!*/
    /*--ln-app-typescale-title-large-font-family-name: Roboto;*/
    /*--ln-app-typescale-title-large-font-family-style: Regular;*/
    /*--ln-app-typescale-title-large-font-weight: 400px;*/
    /*--ln-app-typescale-title-large-font-size: 22px;*/
    /*--ln-app-typescale-title-large-line-height: 28px;*/
    /*--ln-app-typescale-title-large-letter-spacing: 0px;*/
    /*!* title - medium *!*/
    /*--ln-app-typescale-title-medium-font-family-name: Roboto;*/
    /*--ln-app-typescale-title-medium-font-family-style: Medium;*/
    /*--ln-app-typescale-title-medium-font-weight: 500px;*/
    /*--ln-app-typescale-title-medium-font-size: 16px;*/
    /*--ln-app-typescale-title-medium-line-height: 24px;*/
    /*--ln-app-typescale-title-medium-letter-spacing: 0.15px;*/
    /*!* title - small *!*/
    /*--ln-app-typescale-title-small-font-family-name: Roboto;*/
    /*--ln-app-typescale-title-small-font-family-style: Medium;*/
    /*--ln-app-typescale-title-small-font-weight: 500px;*/
    /*--ln-app-typescale-title-small-font-size: 14px;*/
    /*--ln-app-typescale-title-small-line-height: 20px;*/
    /*--ln-app-typescale-title-small-letter-spacing: 0.10px;*/
}
